[Unit]
Description=Holoyolo Full Node
After=network.target

[Service]
User=Holoyolo
Group=Holoyolo
WorkingDirectory=~
RuntimeDirectory=Holoyolo

# Clearnet config
#
Type=forking
PIDFile=/run/Holoyolo/Holoyolod.pid
ExecStart=/usr/bin/Holoyolod --config-file /etc/Holoyolod.conf \
    --detach --pidfile /run/Holoyolo/Holoyolod.pid

# Tor config
#
## We have to use simple, not forking, because we cannot pass --detach
## because stderr/stdout is not available when detached, but torsocks
## attempts to write to it, and fails with 'invalid argument', causing
## Holoyolod to fail.
#Type=simple
#Environment=DNS_PUBLIC=tcp
## The following is needed only when accessing wallet from a different
## host in the LAN, VPN, etc, the RPC must bind to 0.0.0.0, but
## by default torsocks only allows binding to localhost.
#Environment=TORSOCKS_ALLOW_INBOUND=1
#ExecStart=/usr/bin/torsocks /usr/bin/Holoyolod --config-file /etc/Holoyolod.conf \
#    --non-interactive

Restart=always

[Install]
WantedBy=multi-user.target
